body {
    display: flex;
    margin: 0;
    font-family: 'Fira Code' monospace;
    color: rgba(0, 0, 0, 0.7);
}

/* sidebar personal info panel */
.sidebar {
    background: #f0f0f0;
    padding: 20px;
    width: 350px;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    align-items: center;
}

.title {
    font-size: 14;
    color: rgba(128, 128, 128, .9);
    margin-bottom: 5px;
}

.sidebar img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.sidebar .name {
    margin-bottom: 10px;
    color: black;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}

.sidebar .current-occupation {
    font-size: 16px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

/* about me section */
.about-me {
    margin-top: 30px;
}

.about-me .content {
    margin-top: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
}

/* image icons for sidebar */
.link-icons-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-link {
    display: block;
}

.image-link img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.image-link img:hover {
    transform: scale(1.1);
}

.image-link img:first-child {
    margin-left: 30px;
}

.image-link img:last-child {
    margin-right: 30px;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

.skill {
    background-color: #e0e0e0;
    color: #1a73e8;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.skill-hidden {
    background-color: #e0e0e0;
    color: #1a73e8;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: none;
}

.expand-icon {
    color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #1a73e8;
    font-size: 14px;
    font-weight: bold;
}

/* main body of the website */
.main-section {
    padding: 20px;
    flex: 1;
    overflow-x: hidden;
}

.section-padding {
    margin-bottom: 20px;
}

.main-section h2 {
    font-size: 20px;
    color: rgba(128, 128, 128, .9);
    margin-bottom: 5px;
}

/* project section */
.projects-container {
    white-space: nowrap;
    padding-bottom: 10px;
    overflow-x: auto;
}

.projects-container .project {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin-right: 10px;
    background-color: #f9f9f9;
}

/* Experience Section */
.experience-container {
    margin-top: 25px;
    margin-bottom: 10px;
}

.experience {
    min-width: auto;
}

.experience h2 {
    font-size: 16px;
    color:rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

.experience .time-frame {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

.experience .experience-description {
    font-size: 14px;
    margin-top: 30px;
}

/* Education Section */
.education-container {
    
}
